<%- include('partials/header'); %>

<h1 style="text-align: center;">
    <%= title %>
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aspernatur eos, soluta deserunt eius a? Laboriosam, corrupti! Explicabo debitis quibusdam velit officia temporibus animi? Nesciunt autem molestias modi qui aut, facilis perferendis eaque accusamus sit soluta eius voluptatibus consequuntur earum omnis nobis excepturi vel doloribus non ab possimus temporibus? Rem aspernatur magnam nihil dolorem, pariatur voluptate rerum alias sint hic nemo quae, repellendus saepe ullam architecto corrupti minima eaque reprehenderit distinctio, quis expedita incidunt. Corporis nihil cumque vel minima iure facere, illum eligendi earum, animi qui, libero impedit in optio deserunt laboriosam non incidunt! Quisquam tempore perferendis architecto placeat illo!
</p>

<%- include('partials/footer'); %>